<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Database</title>
    <link rel="stylesheet" href="{% static 'school/css/bootstrap.css' %}"> 
</head>
<body>
    <div class="container alert alert-danger">
        <h2>Update</h2>
    </div>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{fm.as_p}}

        <input class="btn btn-primary" type="submit" value="Update">
        <input class="btn btn-primary my-3" type="button" onclick="myFunc()" value="Clear">
        <a class="btn btn-primary" href="{% url 'student_info' %}">Back To Add New</a> 

    </form>
</div>

    <script src="{% static 'school/js/jquery.js' %}"></script> 
    <script src="{% static 'school/js/popper.js' %}"></script> 
    <script src="{% static 'school/js/bootstrap.js' %}"></script> 
    <script src="{% static 'school/js/reset.js' %}"></script> 
</body>
</html>